.page {
    background-color: #eee;
    padding: 0 2em;
    width: 100%;
}
main {
    align-self: center;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, 272px);
    grid-auto-rows: auto;
    justify-content: center;
}
