.page-wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-image: url('../../../assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form-content {
    padding: 0 10vw;
    width: 50%;
}
.logo-text {
    font-weight: bold;
    color: #fff;
    font-size: 1.75rem;

}
.book-text {
    font-weight: 300;
    color: #fff;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: 8px 0;
    padding: 12px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.32);
}
input {
    color: white;
    width: 100%;
    padding: 4px 0;
    margin: 4px 0;
    border: none;
    outline: none;
    background-color: inherit;
    
}
.password-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.input-info {
    width: 100%;
}
label {
    font-size: .75rem;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.5;
}
.login-btn {
    display: block;
    margin-top: 12px;
    padding: 8px 20px;
    border-radius: 44px;
    color: #B22E6F;
    font-weight: 500;

    outline: none;
    border: none;
    cursor: pointer;
}
button:hover{
    filter: opacity(.9);
}
.tooltip {
    width: fit-content;
    position: relative;
    margin: 16px 0;
    padding: 12px;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.4);
}
.tooltip-arrow::before {
    content: '';
    position: absolute;
    display: block;    
    width: 0px;        
    left: 30px;
    top: 5px;
    border: 15px solid transparent;
    border-top: 0;
    border-bottom: 15px solid rgba(255, 255, 255, 0.4);
    transform: translate(-50%, calc(-100% - 5px));
}
@media only screen and (max-width: 640px) {
    .form-content {
      width: 80%;
    }
}