.book-area {
    display: flex;
    align-items: center;

    padding: 8px;
    border-radius: 4px;
    background-color: #FFFFFF;

    min-width: 272px;
    cursor: pointer;

    margin: 0 auto;
}
p {
    margin: 0;
    padding: 0;
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}
.img {
    padding: 8px;
    margin-right: 4px;
}
.card-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80px;
    height: auto;
}
.book-details {
    color: #999;
    font-size: .85rem;
}