.pagination {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}
.pagination-content {
    display: flex;
    align-items: center;
}
.pagination-btns {
    display: flex;
}
.page-btn {
    border: 1px solid rgba(51, 51, 51, 0.2);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.page-btn:hover {
    filter: brightness(.9);    
}
.disabled {
    cursor: default;
    filter: brightness(.9);
}
.disabled:hover {
    filter: brightness(.9);
}
@media only screen and (max-width: 640px) {
    .pagination {
      justify-content: center;
    }
}